.Navbar {
    margin-top: 32px;
    margin-bottom: 16px;
    margin-left: 64px;
    margin-right: 64px;
    padding: 8px;
    font-size: 150%;
    text-align: center;
}

.navbutton {
    background : #ffffff;
    margin: 12px;
    padding : 8px;
    font-size: 100%;
    border: 0px;
    border-bottom: 1px solid #adadad;
}

.navbutton:hover {
    margin-bottom: 9px;
    border-bottom: 4px solid #adadad;
}

.navbutton:active {
    border-bottom: 4px solid black;
}

.img{
    height: 17%;
    width: 17%;
}